div(class='row')
  div(class='span4 offset4')
    div.modal
      div(class='modal-body', style='padding-top: 30px; text-align: center;')
        form(action='/login', method='post', style='padding: 0px')
          #login
            label(for=everyauth.password.loginFormFieldName)
              i.icon-user
              span &nbsp;Username
            input.input-xlarge(type='text', name=everyauth.password.loginFormFieldName)
          #password
            label(for=everyauth.password.passwordFormFieldName)
              i.icon-asterisk
              span &nbsp;Password
            input.input-xlarge(type='password',name=everyauth.password.passwordFormFieldName)
          - if ('undefined' !== typeof errors && errors.length)
            div#errors(style='padding-top: 7px;')
              div.alert.alert-error
                - each error in errors
                  i.icon-exclamation-sign
                  span &nbsp;
                  span= error
      div(class='modal-footer')
        button(class='btn btn-primary',type='submit')
          i(class='icon-ok icon-white')
          span &nbsp;Login

script(type='text/javascript')
  var form = $('form');
  var user = $('input[type=text]');
  var submitbtn = $('button');
  var login = $('#login');
  var passwd = $('#password');
  user.focus ();
  submitbtn.click (function () { form.submit () });
  login.keypress (function (event) {
    if (event.which == 13)
      $('input', passwd).select ();
  });
  passwd.keypress (function (event) {
    if (event.which == 13)
      form.submit ();
  });
