div.modal
  div.row
    div.pull-left.logo.hidden-phone
      img.logo.center(src="/images/rahunas-logo.png")
    div.center
      div(class='modal-body', style='padding-top: 30px; text-align: center;')
        form(action='/login', method='post', style='padding: 0px')
          #login
            label(for=everyauth.password.loginFormFieldName)
              i.icon-user
              span &nbsp;
              span(data-i18n="app:login.Username") Username
            input.input-xlarge(type='text', name=everyauth.password.loginFormFieldName)
          #password
            label(for=everyauth.password.passwordFormFieldName)
              i.icon-asterisk
              span &nbsp;
              span(data-i18n="app:login.Password") Password
            input.input-xlarge(type='password',name=everyauth.password.passwordFormFieldName)
          - if ('undefined' !== typeof errors && errors.length)
            div#errors(style='padding-top: 7px;')
              div.alert.alert-error
                - each error in errors
                  i.icon-exclamation-sign
                  span &nbsp;
                  span(data-i18n=error)= error
  div(class='modal-footer')
    div.btn-group.pull-left
      span.btn#language Language
      a.btn.dropdown-toggle(data-toggle="dropdown")
        span.caret
      ul.dropdown-menu
        li
          a(tabindex="-1", href="?setLng=th") ไทย
        li
          a(tabindex="-1", href="?setLng=en-US") English
    button.pull-right(class='btn btn-primary',type='submit')
      i(class='icon-ok icon-white')
      span &nbsp;
      span(data-i18n="nav:login") Login

script.
  var form = $('form');
  var user = $('input[type=text]');
  var submitbtn = $('button');
  var login = $('#login');
  var passwd = $('#password');
  user.focus ();
  submitbtn.click (function () { form.submit () });
  login.keypress (function (event) {
    if (event.which == 13)
      $('input', passwd).select ();
  });
  passwd.keypress (function (event) {
    if (event.which == 13)
      form.submit ();
  });

script.
  if ($.i18n.lng() == "th") {
    $('#language').text("ไทย");
  } else {
    $('#language').text("English");
  }
